.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* background: #f0f2f5; */
  width: 99vw;
  overflow: hidden;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/PlayfairDisplay-Bold.ttf') format('truetype');
}
h2 {
  font-family: 'Playfair Display', serif;
}
.auth-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/pic2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form-container {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  margin-bottom: 24px;
  color: #1890ff;
}

.login-form {
  max-width: 300px;
  background-color: white;
    padding: 40px;
    border-radius: 10px;
}
.login-form .ant-input:focus {
  background-color: transparent;
}

.login-form-button {
  width: 100%;
}
.Header {
    color: black;
}
.HeaderContent {
    text-align: left;
    position: relative;
    margin-top: 90px;
}
.HeaderContent ul{
    list-style: none;
}